MY_ENV_VAR="Hello from .env file"

#url del webhook creado en discord
DISCORD_WEBHOOK_URL="https://discordapp.com/api/webhooks/put-your-webhook-url-here"

SECRET_TOKEN_WEBHOOK="put-your-secret-token-here"